<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="/stylesheets/output.css" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.png" />
	</head>

	<body class="bg-primary-dark text-secondary-light">
		<header class="flex justify-between p-5 fixed w-full backdrop-blur-md">
			<div class="text-2xl"><span class="text-blue-400">Members</span>Only</div>
			<nav class="flex gap-5">
				<!-- NOT LOGGED IN NAV -->
				<% if (!currentUser) { %>
				<div class="flex gap-5">
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/log_in"
					>
						<img class="w-5 h-5" src="/images/icons/login.png" alt="" />
						<button>Log In</button>
					</a>
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/sign_up"
					>
						<img class="w-5 h-5" src="/images/icons/signup.png" alt="" />
						<button>Sign Up</button>
					</a>
				</div>
				<% } else { %>
				<!-- LOGGED IN NAV -->
				<div class="flex gap-5">
					<% if (!currentUser.isMember) { %>
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/member"
					>
						<img class="w-5 h-5" src="/images/icons/member.png" alt="" />
						<button>Member</button>
					</a>
					<% } %> <% if (!currentUser.isAdmin) { %>
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/admin"
					>
						<img class="w-5 h-5" src="/images/icons/admin.png" alt="" />
						<button>Admin</button>
					</a>
					<% } %>
				</div>
				<% if (!currentUser.isAdmin || !currentUser.isMember) { %>
				<div class="h-full border border-secondary-light"></div>
				<% } %>
				<div class="flex gap-5">
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/message/add"
					>
						<img class="w-5 h-5" src="/images/icons/add.png" alt="" />
						<button>Add Message</button>
					</a>
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/log_out"
					>
						<img class="w-5 h-5" src="/images/icons/logout.png" alt="" />
						<button>Log out</button>
					</a>
					<!-- TODO: implement user edit and add user profiles -->
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/user/<%= currentUser._id %>"
					>
						<div class="flex gap-2">
							<p class="m-auto"><%= currentUser.first_name %></p>
							<% if (!currentUser.imgURL) { %>
							<img
								class="w-8 h-8 m-auto rounded-full"
								src="/images/default_user.jpg"
								alt=""
							/>
							<% } else { %>
							<img
								class="w-8 h-8 m-auto rounded-full"
								src="<%= currentUser.imgURL %>"
								alt=""
							/>
							<% } %>
						</div>
					</a>
				</div>
				<% } %>
			</nav>
		</header>
		<main class="flex justify-center items-center flex-col gap-5 pt-20">
			<h1 class="text-3xl text-white">Messages</h1>
			<% if (messages.length) { %> <% messages.forEach(message => { %>
			<article
				class="p-5 shadow-xl rounded-md w-80 bg-slate-900 flex flex-col gap-3"
			>
				<% if (currentUser) { %> <% if (currentUser.isMember ||
				currentUser.isAdmin) { %>
				<div class="gap-3 text-xs flex items-center">
					<img
						class="w-8 h-8 rounded-full"
						src="<%= message.creator.imgURL ? message.creator.imgURL : '/images/default_user.jpg' %>"
						alt=""
					/>
					<div>
						<p><%= message.creator.fullname %></p>
						<p class="italic"><%= message.date_added_formatted %></p>
					</div>
				</div>
				<% } %> <% } %>
				<h4 class="text-xl text-white"><%= message.title %></h4>
				<p class=""><%= message.text %></p>
				<% if (currentUser) { %> <% if (currentUser.isAdmin) { %>
				<form
					class="flex justify-end pt-1"
					method="POST"
					action="/message/<%= message._id %>/delete"
				>
					<button
						class="transition-all rounded-md py-1 px-4 hover:border hover:border-red-700 border border-primary-dark flex justify-center items-center gap-1 bg-red-700 text-white"
						type="submit"
					>
						Delete
					</button>
				</form>
				<% } %> <% } %>
			</article>
			<% }) %> <% } else { %>
			<p class="italic text-red-700">No messages yet</p>
			<% } %>
		</main>
	</body>
</html>
